.toolbar-title {
  text-decoration: none;
  color: white;
}

.toolbar-title > .mat-icon {
    color: white;
    vertical-align: middle;
}

.container {
  height: auto;
  min-height: 700px;
  padding: 80px;
}
