<!-- this is default layout -->
<div class="flex-container">
  <div class="flex-item" fxFlex="100%" fxFlex.xs="100%">
    <!-- this is default navbar -->
    <nav id="navbar">
      <md-toolbar color="primary" fxLayout="column" fxLayout.xs="column">
        <a routerLink="/" class="logo">Logo</a>

        <div [hidden]="!user" class="row">
          <ul class="nav" fxLayout="row" fxLayout.xs="row">
            <li><a md-menu-item [routerLink]="['/user/products']" class="toolbar-title"><md-icon>store</md-icon> {{ 'My Products' | translate:lang }}</a> </li>
            <li><a md-menu-item [routerLink]="['/user/routes']" class="toolbar-title"><md-icon>add_location</md-icon> {{ 'My Routes' | translate:lang }}</a> </li>
            <li><a md-menu-item [routerLink]="['/user/purchases']" class="toolbar-title"><md-icon>local_shipping</md-icon>{{ 'My Shippings' | translate:lang }}</a> </li>
          </ul>
        </div> 

        <span class="fill-remaining-space"></span> 

        <button md-mini-fab md-icon-button (click)="right.toggle()">
          <md-icon>shopping_cart</md-icon> 
        </button>

        <total-price></total-price>    

        <a md-menu-item id="user-menu" [md-menu-trigger-for]="menu" class="toolbar-title">  
          <span [hidden]="!user">{{ 'Welcome' | translate:lang }} {{ user | displayName }}</span>       
          <md-icon>more_vert</md-icon>    
        </a>   
      </md-toolbar>
    </nav>

    <!-- this is default user menu -->
    <md-menu #menu="mdMenu" x-position="before">        
        <div [hidden]="user">          
          <a md-menu-item [routerLink]="['/login']"><md-icon>lock_open</md-icon>{{'Login' | translate:lang }}</a>
          <a md-menu-item [routerLink]="['/signup']"><md-icon>account_circle</md-icon>{{'Sign up' | translate:lang }}</a>
        </div>
        <div [hidden]="!user">     
          <a md-menu-item (click)="logout()"><md-icon>lock</md-icon>{{ 'Logout' | translate:lang }}</a>
        </div>        
    </md-menu>
  </div>
  
  <!-- this is default content -->
  <md-sidenav-container class="flex-item" fxFlex="100%" fxFlex.xs="100%">
    <md-sidenav #right align="end">          
        <h2><md-icon>shopping_cart</md-icon> {{ 'Shopping Cart' | translate:lang }}</h2>
        <purchase-order></purchase-order>
        
    </md-sidenav>
    <!-- primary content -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>      
  </md-sidenav-container>
</div>

<!-- this is default subscription bar -->
<nav class="flex-item">        
  <ul class="subscription" fxLayout="row" fxLayout.xs="column">
    <li><a md-menu-item><md-icon>phone</md-icon>90899 345 2511</a></li>
    <li><a md-menu-item><md-icon>airport_shuttle</md-icon>{{ 'Go to market' | translate:lang }}</a></li>
    <li><a md-menu-item [routerLink]="['/about']"><md-icon>supervisor_account</md-icon>{{ 'About' | translate:lang }}</a></li>
    <li><a md-menu-item [routerLink]="['/help']"><md-icon>help</md-icon>{{ 'Help' | translate:lang }}</a></li>
    <li><a md-menu-item color="primary" (click)="selectLanguage('en');"><md-icon>translate</md-icon>English</a></li>
    <li><a md-menu-item color="primary" (click)="selectLanguage('es');"><md-icon>translate</md-icon>Español</a></li>
  </ul> 
</nav>
  
<!-- this is default footer -->
<footer class="flex-item">
  <md-toolbar color="primary">
      <p>Copyright &#169; {{'Copyright' | translate:lang:{ year: year } }}</p>
  </md-toolbar>
</footer>