<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div  class="md-whiteframe-z2" fxFlex="100%" fxFlex.xs="100%" layout-padding layout-margin>
    <div class="row">
      <product-form ></product-form>
    </div>

    <div class="row">
      <md-toolbar>
        <p translate>Title</p>
          <p>Count of routes: ({{productsSize}})</p> 
          
          <form [formGroup]="searchForm" (ngSubmit)="search();">
              <md-input-container>
                <input mdInput formControlName="name" placeholder="Search product by name" #name />
              </md-input-container>
              <button md-raised-button color="primary" type="submit"><i class="material-icons">search</i>Search</button>
          </form>          

          <span class="fill-remaining-space"></span>

          <md-slide-toggle (change)="changeSortOrder($event)">
            Sort by name
          </md-slide-toggle>        
        </md-toolbar>
      </div>    

     <div class="row" fxLayout="column" fxLayout.xs="column">
        <md-card *ngFor="let product of products | async">
          <md-card-content  fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%">      
            <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">                 
              <h2>
                <a class="md-title" [routerLink]="['/user/product', product._id]" [queryParams]="query">{{product.name}}</a>
              </h2>
              <h3 *ngIf="product.onSale">On sale</h3>
              <h3 *ngIf="!product.onSale">Is dont' on sale</h3>

              <h3>Quantity in Stock: {{product.quantityInStock}}</h3>
              
              <h3>$ {{product.unitPrice}}</h3>

              <ul class="nav" fxLayout="row" fxLayout.xs="row">
                <li *ngFor="let oldsPrice of product.oldsPrice; let lastOldPrice = last">
                  <span *ngIf="!lastOldPrice" class="old-price"> ${{oldsPrice}}, </span>
                  <span *ngIf="lastOldPrice" class="old-price"> ${{oldsPrice}} </span>                                                  
                </li>                 
              </ul
              
              <p class="ma-description" style="margin-bottom:35px; margin-top: 6px;">
                {{product.description}}
              </p>

              <div class="row" *ngIf="product.images">
                <ul class="nav" fxLayout="row" fxLayout.xs="column">
                  <li *ngFor="let image of product.images">
                    <figure>
                      <img width="300px" height="200px" [src]="image | displayMainImage">
                    </figure>                                  
                  </li>                 
                </ul>
              </div>                
                              
              <button md-raised-button [hidden]="!isOwner(product)"  color="warn" (click)="removeProduct(product)"><i class="material-icons">delete_forever</i>Delete</button>
            </div>
            <div class="flex-item" fxFlex="50%" fxFlex.xs="100%"> 
              <h4>{{product.location.name}}</h4>       
              <sebm-google-map
                [latitude]="product.location.lat"
                [longitude]="product.location.lng"
                [zoom]="6">

                <sebm-google-map-marker
                  *ngIf="product.location.lat && product.location.lng"
                  [latitude]="product.location.lat"
                  [longitude]="product.location.lng"
                  [label]="'L'"
                  [title]="'Product location'"
                  [markerDraggable]="False">
                </sebm-google-map-marker>
                
              </sebm-google-map>
            </div>
          </md-card-content>
        </md-card>       
      </div>

      <div class="row" *ngIf="isLoading">
        <md-toolbar>
          <md-progress-bar mode="indeterminate">...</md-progress-bar>             
        </md-toolbar>
      </div>      

      <div class="row">
        <md-toolbar>
          <pagination-controls *ngIf="routesSize > 10" (pageChange)="onPageChanged($event)"></pagination-controls>             
        </md-toolbar>
      </div>   

      <div [hidden]="user">You need to login to create new routes!</div>         
  </div>
</div>