<div class="md-whiteframe-z2" fxFlex="100%" fxFlex.xs="100%" layout-padding layout-margin>        
  <md-toolbar color="primary">
    Add product
  </md-toolbar>        

  <div class="row">
    <form [formGroup]="addForm" (ngSubmit)="addProduct(); upload.reset()">  
      <div class="row"  fxLayout="row" fxLayout.xs="column">
        <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">        
          <md-input-container style="width: 86%" >
            <input mdInput formControlName="name" placeholder="Product name" #name required minlength="2" maxlength="50" />
            <md-hint align="end">{{name.value.length}} / 50</md-hint>
          </md-input-container>

          <md-checkbox style="width: 10%" formControlName="on_sale">On Sale</md-checkbox>     

          <md-input-container style="width: 15%">
            <input mdInput type="number" step="any" formControlName="quantity_in_stock" placeholder="Quantity" #quantity_in_stock required />
          </md-input-container>
          <md-input-container style="width: 15%">
            <input mdInput type="number" step="any" formControlName="unit_price" placeholder="Unit price" #unit_price required />
          </md-input-container>

          <md-input-container style="width: 68%">
            <input mdInput formControlName="location" placeholder="Location" #location required minlength="2" maxlength="40" />
            <md-hint align="end">{{location.value.length}} / 40</md-hint>
          </md-input-container>

          <md-input-container style="width: 100%;">
              <textarea mdInput formControlName="description" placeholder="Description" #description minlength="2" maxlength="250" required></textarea>
              <md-hint align="end">{{description.value.length}} / 250</md-hint>
          </md-input-container>
        </div>
        
        <div class="flex-item map" fxFlex="50%" fxFlex.xs="100%">        
          <sebm-google-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="6"
            (mapClick)="mapClicked($event)">

            <sebm-google-map-marker
              *ngIf="lat && lng"
              [latitude]="lat"
              [longitude]="lng">
            </sebm-google-map-marker>

          </sebm-google-map>
        </div>
      </div>

      <div class="row">
        <product-upload #upload (onFile)="onImage($event)"></product-upload>
      </div>

      <div class="row">
        <button md-raised-button color="primary" [disabled]="!addForm.valid" type="submit"><i class="material-icons">add</i>Add</button>
      </div>
      
    </form>                
  </div>           
</div>