<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div class="md-whiteframe-z2" fxFlex="96%" fxFlex.xs="100%">
    <md-toolbar color="primary">
      Product details
    </md-toolbar>        

    <div class="row">
      <form *ngIf="product" (submit)="saveProduct()">  
        <div class="row"  fxLayout="row" fxLayout.xs="column">
          <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">        
            <md-input [disabled]="!isOwner" type="text" [(ngModel)]="product.name" name="name" #name placeholder="Product name" style="width: 85%" minlength="2" maxlength="50" required>
              <md-hint align="end">{{name.characterCount}} / 50</md-hint>
            </md-input>

            <md-checkbox [disabled]="!isOwner" [(ngModel)]="product.onSale" name="on_sale" style="width: 10%">On Sale</md-checkbox>
            
            <md-input [disabled]="!isOwner" type="number" [(ngModel)]="product.quantityInStock" name="quantity_in_stock" placeholder="Quantity" #quantity_in_stock style="width: 15%" required></md-input>
            <md-input [disabled]="!isOwner" type="number" step="any" [(ngModel)]="product.unitPrice" name="unit_price" placeholder="Unit price" #unit_price style="width: 15%" required></md-input>
            
            <md-input [disabled]="!isOwner" type="text" [(ngModel)]="product.location.name" name="location" #location placeholder="Location" style="width: 68%" required minlength="2" maxlength="40">
              <md-hint align="end">{{location.characterCount}} / 40</md-hint>
            </md-input>

            <md-textarea [disabled]="!isOwner"  type="text" [(ngModel)]="product.description" name="description" #description placeholder="Description" style="width: 100%"  minlength="2" maxlength="250" required>
              <md-hint align="end">{{description.characterCount}} / 250</md-hint>
            </md-textarea>
          </div>
          
          <div class="flex-item map" fxFlex="50%" fxFlex.xs="100%"> 
        
            <sebm-google-map
                [latitude]="lat || centerLat"
                [longitude]="lng || centerLng"
                [zoom]="6"
                (mapClick)="mapClicked($event)">

                <sebm-google-map-marker
                  *ngIf="lat && lng"
                  [latitude]="lat"
                  [longitude]="lng">
                </sebm-google-map-marker>

              </sebm-google-map>
          </div>
        </div>

        <div class="row">
          <product-upload #upload (onFile)="onImage($event)"></product-upload>

          <ul *ngIf="product.images" class="image-list">
            <li *ngFor="let image of product.images">
              <figure>
                <img class="product-main-image" [src]="image | displayMainImage">
                <figcaption style="text-align: center;"><button md-raised-button [hidden]="!isOwner"  color="warn" (click)="removeImage(image)"><i class="material-icons">delete_forever</i>Delete</button></figcaption>
              </figure>                                  
            </li>                  
          </ul>          
        </div>

        <div class="row">
          <button md-raised-button type="button" [routerLink]="['/user/products']" [queryParams]="query"><i class="material-icons">arrow_back</i> Back</button>
          <button md-raised-button color="primary" type="submit"><i class="material-icons">create</i>Save</button>
        </div>
        
      </form>                
    </div>           
  </div>
</div>