<div class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScrollDown()">
  
    <md-toolbar>              
      <form [formGroup]="searchForm" (ngSubmit)="search();">
          <md-input-container style="width: 54%">
            <input mdInput formControlName="name" placeholder="{{ 'What is looking for you?' | translate:lang }}" #name>
          </md-input-container>
          <md-input-container style="width: 10%">
            <input mdInput formControlName="min" step="any" type="number" placeholder="{{ 'Min' | translate:lang }}" #min>
          </md-input-container>
          <md-input-container style="width: 10%">
            <input mdInput formControlName="max" step="any" type="number" placeholder="{{ 'Max' | translate:lang }}" #max>
          </md-input-container>

          <button md-raised-button color="primary" type="submit"><md-icon>search</md-icon>{{ 'Search' | translate:lang }}</button>
      </form>   
    </md-toolbar>         

    <h1 *ngIf="productsSize == 0">{{ 'Products not found' | translate:lang }}</h1>  

    <md-grid-list rowHeight="400px" gutterSize="1px" cols="5">                
      <md-grid-tile *ngFor="let product of products | async">
        <md-card class="product-card">
          <md-card-header>
            <md-card-title>
              <a class="md-title" [routerLink]="['/product', product._id]" [queryParams]="query">
                {{product.name}}                          
              </a>
            </md-card-title>
            <md-card-subtitle><span class="old-price" *ngIf="product.oldPrice" >${{product.oldPrice}}</span> ${{product.unitPrice}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image [src]="product.images | displayMainThumbs">
          <md-card-content>
            <p>
              {{product.description}}                        
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button color="primary" (click)="addCart(product)"><md-icon>add_shopping_cart</md-icon></button>
          </md-card-actions>
        </md-card>        
      </md-grid-tile>
    </md-grid-list>              
    
    <md-progress-circle *ngIf="isLoading" mode="indeterminate">...</md-progress-circle>
</div>