<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div class="md-whiteframe-z2" fxFlex="90%" fxFlex.xs="100%" layout-padding layout-margin>        
    <md-toolbar color="primary">
      Product Details
    </md-toolbar>        

    <div class="row">
      <form *ngIf="product" (submit)="saveProduct()">  
        <div class="row"  fxLayout="row" fxLayout.xs="column">
          <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">        
            <h1 class="md-title">{{product.name}}</h1>
            <h2>{{product.quantityInStock}}</h2>            
            <h3>${{product.unitPrice}}</h3>
            <ul class="nav" fxLayout="row" fxLayout.xs="row">
              <li *ngFor="let oldsPrice of product.oldsPrice; let lastOldPrice = last">
                <span *ngIf="!lastOldPrice" class="old-price"> ${{oldsPrice}}, </span>
                <span *ngIf="lastOldPrice" class="old-price"> ${{oldsPrice}} </span>                                                  
              </li>                 
            </ul
            <p>{{product.description}}</p>
          </div>
          
          <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">        
            <sebm-google-map
              [latitude]="lat"
              [longitude]="lng"
              [zoom]="6">

              <sebm-google-map-marker
                *ngIf="lat && lng"
                [latitude]="lat"
                [longitude]="lng">
              </sebm-google-map-marker>

            </sebm-google-map>
          </div>
        </div>

        <hr />
        <p translate>Title</p>

        <div class="row" *ngIf="product.images">
          <ul class="nav" fxLayout="row" fxLayout.xs="column">
            <li *ngFor="let image of product.images">
              <figure>
                <img width="300px" height="200px" [src]="image | displayMainImage">
              </figure>                                  
            </li>                 
          </ul>
        </div>

        <hr />

        <div class="row">
          <button md-raised-button type="button" [routerLink]="['/']" [queryParams]='query'><i class="material-icons">arrow_back</i></button>
          <button md-raised-button color="primary" (click)="addCart()" type="button"><md-icon>add_shopping_cart</md-icon></button>
        </div>

      </form>                
    </div>           
  </div>
</div>