<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
    <div class="md-whiteframe-z2 flex-item" fxFlex="60%" fxFlex.xs="100%" layout-padding layout-margin>        
      <md-toolbar class="md-primary" color="primary">
        Sign in with your email
      </md-toolbar>        

      <div class="row">
        <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()">          
          <md-input required formControlName="email" type="email" placeholder="Email" style="width: 100%"></md-input>
          <md-input required formControlName="password" type="password" placeholder="Password" style="width: 100%"></md-input>          
          <button md-raised-button class="md-primary" type="submit" [disabled]="!loginForm.valid" aria-label="login"><i class="material-icons">lock</i>Sign In</button>         
        </form> 
      </div>

      <div class="row">
        <button md-raised-button class="md-warn" [routerLink]="['/recover']"><i class="material-icons">help</i>Forgot password?</button>
        <button md-raised-button class="md-warn" [routerLink]="['/signup']"><i class="material-icons">account_circle</i>Need an account?</button>
      </div>
    </div>
</div>