<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div  class="md-whiteframe-z2" fxFlex="100%" fxFlex.xs="100%" layout-padding layout-margin>
    <div class="row">
      <route-form></route-form>
    </div>

    <div class="row">
      <md-toolbar>
          <p>Count of routes: ({{routesSize}})</p> 
          
          <form [formGroup]="searchForm" (ngSubmit)="search();">
              <md-input-container formControlName="name" placeholder="Search route by name" #name></md-input-container>
              <button md-raised-button color="primary" type="submit"><i class="material-icons">search</i>Search</button>
          </form>          

          <span class="fill-remaining-space"></span>

          <md-slide-toggle (change)="changeSortOrder($event)">
            Sort by name
          </md-slide-toggle>        
        </md-toolbar>
      </div>    

     <div class="row" fxLayout="column" fxLayout.xs="column">
        <md-card *ngFor="let route of routes | async">
          <md-card-content  fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxFlex.xs="100%">      
            <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">                 
              <h1>
                <a class="md-title" [routerLink]="['/user/route', route._id]" [queryParams]="query">{{route.name}}</a>
              </h1>                
              <h2>$ {{route.price}}</h2>
              <h4>{{route.startRoute.name}} -> {{route.finalRoute.name}}</h4>
              <p>{{route.description}}</p>
              <button md-raised-button [hidden]="!isOwner(route)"  color="warn" (click)="removeRoute(route)"><i class="material-icons">delete_forever</i>Delete</button>
            </div>
            <div class="flex-item" fxFlex="50%" fxFlex.xs="100%">        
              <sebm-google-map
                [latitude]="route.startRoute.lat"
                [longitude]="route.startRoute.lng"
                [zoom]="6">

                <sebm-google-map-marker
                  *ngIf="route.startRoute.lat && route.startRoute.lng"
                  [latitude]="route.startRoute.lat"
                  [longitude]="route.startRoute.lng"
                  [label]="'S'"
                  [title]="'Start Route'"
                  [markerDraggable]="False">
                </sebm-google-map-marker>

                <sebm-google-map-marker
                  *ngIf="route.finalRoute.lat && route.finalRoute.lng"
                  [latitude]="route.finalRoute.lat"
                  [longitude]="route.finalRoute.lng"
                  [label]="'F'"
                  [title]="'Final Route'"
                  [markerDraggable]="False">
                </sebm-google-map-marker>

              </sebm-google-map>
            </div>
          </md-card-content>
        </md-card>       
      </div>

      <div class="row" *ngIf="isLoading">
        <md-toolbar>
          <md-progress-bar mode="indeterminate">...</md-progress-bar>             
        </md-toolbar>
      </div>      

      <div class="row">
        <md-toolbar>
          <pagination-controls *ngIf="routesSize > 10" (pageChange)="onPageChanged($event)"></pagination-controls>             
        </md-toolbar>
      </div>   

      <div [hidden]="user">You need to login to create new routes!</div>         
  </div>
</div>