<hr />

<h4 *ngIf="!shoppingCart.getPurchaseItemsLenght()">Not have purchase items</h4>

<div padding-layout>
    <ul class="nav">
        <li *ngFor="let item of shoppingCart.purchaseItems">
            <figure *ngIf="item.quantityInCart > 0" md-tooltip="{{item.product.name}}" tooltip-position="before">
                <img width="30%" height="30%" [src]="item.product.images | displayMainThumbs">
                <figcaption style="display: inline">{{item.product.unitPrice}} * {{item.quantityInCart}} = $ {{item.product.unitPrice * item.quantityInCart}} 
                    <button [disabled]="flag" md-mini-fab md-icon-button (click)="removeItem(item.product)">
                        <md-icon>remove_shopping_cart</md-icon>
                    </button>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>

<hr *ngIf="shoppingCart.getPurchaseItemsLenght()" />

<total-price *ngIf="shoppingCart.getPurchaseItemsLenght()"></total-price>

<hr />
<button *ngIf="shoppingCart.getPurchaseItemsLenght()" md-raised-button [disabled]="flag" class="md-raised form-container" (click)="purchaseButton()"><md-icon>line_weight</md-icon> Purchase</button>

<div padding-layout [hidden]="!flag">
    <form [formGroup]="purchaseForm" (ngSubmit)="purchase();">
        <md-input-container style="width: 70%">
            <input mdInput formControlName="shippingAddress" placeholder="Shipping Address" #shippingAddress>
        </md-input-container>
        <md-input-container style="width: 70%">
            <input mdInput formControlName="shippingCity" placeholder="Shipping City" #shippingCity>
        </md-input-container>
        <md-input-container style="width: 70%">
            <input mdInput formControlName="shippingZip" placeholder="Shipping Zip" #shippingZip>
        </md-input-container>
        <md-input-container style="width: 70%">
            <input mdInput formControlName="shippingState" placeholder="Shipping State" #shippingState>
        </md-input-container>
        <md-input-container style="width: 70%">
            <input mdInput formControlName="shippingCountry" placeholder="Shipping Country" #shippingCountry>
        </md-input-container>
 
        <button md-raised-button color="primary" [disabled]="!purchaseForm.valid" class="form-container" type="submit"><md-icon>shopping_basket</md-icon> Submit</button>
    </form>
</div>